
.heading {
  text-align: center;
}

.albums-group-list , .add-album-container {
  width : 50%;
  display: block;
  margin: auto;
  padding: 0;
}

.albums-group-list li {
  list-style: none;
  font-size: 1;
  font-family: Arial;
  background: white;
  padding: 1.5rem 1rem;
  border-left: 2px solid #000;
  margin : 5px 0;
  cursor: pointer;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.albums-group-list p {
  width : 70%;
}

.albums-group-list li:hover {
   transform : translateX(5px);
   transition: transform .4s ease-in-out;
}

.album-actions {
  width : 30%;
}

.album-actions button,
.add-album-container button {
    background: whitesmoke;
    border: none;
    padding: 0.5rem;
    border-radius: 2px;
    margin: 0px 5px;
    cursor: pointer;
}

.album-actions button:nth-child(2) {
  background: rgb(227, 16, 16);
  color: #fff;
}

.add-album-container input{
   width : 90%;
   height : 40px;
   border : 1px solid whitesmoke;
   box-shadow: 0px 0px 4px #efefef;
   border-bottom : 2px solid #000;
   padding-left: 10px;
}

.add-album-container button{
  background : rgb(0, 0, 0);
  width : 50px;
  height : 40px;
  color: #fff;
}

.add-album-container form {
   display: flex;
   justify-content: center;
   align-items: center;
}